@import '../../../../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

//background colors
$primary-bkgd-color: #FFF ;
$secondary-bkgd-color: #93E1D8;
$header-bkgd-color: #93E1D8;
$footer-bkgd-color: #FF6B6B; 

//highlight text colors
$primary-highlight-txt-color: #FF6B6B;
$secondary-highlight-txt-color: #1A535C;
$tertiary-highlight-txt-color: #fff;

//button properties
$primary-btn-bkgd-color: #FFE66D;
$btn-txt-color: #1A535C;
$hover-btn-bkgd-color: #FF6B6B;
$hover-btn-txt-color: #fff;
$btn-border-radius: 5px;

//text properties
$primary-txt-color: #1A535C;




//global variables
body{
    color: $primary-txt-color;
}



//partial imports
@import 'partials/header';
@import 'partials/main';
@import 'partials/footer';