@import '../../../../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

//background colors
$primary-bkgd-color: #FFF ;
$secondary-bkgd-color: #FFE66D;
$tertiary-bkgd-color: #1A535C;
$header-bkgd-color: #93E1D8;
$footer-bkgd-color: #FF6B6B; 

//highlight text colors
$primary-highlight-txt-color: #FF6B6B;
$secondary-highlight-txt-color: #1A535C;
$tertiary-highlight-txt-color: #93E1D8;

//button properties
$primary-btn-bkgd-color: #93E1D8;
$btn-txt-color: #1A535C;
$hover-btn-bkgd-color: #FF6B6B;
$hover-btn-txt-color: #fff;
$btn-border-radius: 5px;

//text properties
$primary-txt-color: #1A535C;
$secondary-txt-color: #93E1D8;

//font
//$primary-font: ;
$header-font: 'Barrio', cursive;


//global variables
body{
    color: $primary-txt-color;
}

input {
    padding: 5px;
    border: none;
}

button {
    padding: 8px 16px;
    border-radius: $btn-border-radius;
}

//partial imports
@import 'partials/header';
@import 'partials/main';
@import 'partials/manage-inventory';
@import 'partials/highscores';
@import 'partials/footer';