header {
    @include grid-row();
    background-color: $header-bkgd-color;
    max-width: 100%;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2%;

        #logo-nav {
            display: flex;
            align-items: center;

            img {
                padding: 0 10px;
                max-width: 18%;
            }

            h1 {
                color: $primary-highlight-txt-color;
                font-family: 'Barrio', cursive;
            }
        }

        ul {
            display: flex;
            padding: 0;

            li {
                list-style: none;
                background-color: $tertiary-bkgd-color;
                color: $tertiary-highlight-txt-color;
                padding: 10px;
                margin: 5px;
                border-radius: 5px;

                a {
                    text-decoration: none;
                    color:  #93E1D8;
                }

                a:hover {
                    color: #fff;
                }
            } 

            li:hover {
                background-color:  #FF6B6B;
                color: #fff;
            }
        }
    }
}