main {
    @include grid-row();
    background-color: $primary-bkgd-color;
    max-width: 100%;
    margin: 50px auto 150px;
    
    

    #stand-section {
        text-align: center;
        padding: 11% 0;

        h3 {
            color: $primary-txt-color;
        }

        input {
            border-bottom: 2px solid #FF6B6B;
        }

        button {
            background-color: $primary-btn-bkgd-color;
            margin-top: 20px;
            color: $btn-txt-color;
        }

        button:hover {
            background-color: $hover-btn-bkgd-color;
            color: $hover-btn-txt-color;
        }
    }
}