main {
    @include grid-row();
    background-color: $primary-bkgd-color;
    max-width: 100%;
    height: 650px;

    #stand-section {
        text-align: center;
        padding: 11% 0;

        h3 {
            color: $primary-txt-color;
        }

        input {
            padding: 5px;
            border: none;
            border-bottom: 2px solid #FF6B6B;
        }

        button {
            background-color: $primary-btn-bkgd-color;
            padding: 8px 16px;
            border-radius: $btn-border-radius;
            margin-top: 20px;
            color: $btn-txt-color;
        }

        button:hover {
            background-color: $hover-btn-bkgd-color;
            color: $hover-btn-txt-color;
        }
    }
}