main {
    @include grid-row();
    background-color: $primary-bkgd-color;
    max-width: 100%;
    margin: 50px auto 150px;
    
    

    #stand-section {
        text-align: center;
        padding: 11% 0;
        position: relative;

        h3 {
            color: $primary-txt-color;
        }

        input {
            border-bottom: 2px solid #FF6B6B;
        }

        #play-btns {
            display: flex;
            flex-direction: column;
            align-items: center;

            button {
                background-color: $primary-btn-bkgd-color;
                margin-top: 20px;
                color: $btn-txt-color;
            }

            button:hover {
                background-color: $hover-btn-bkgd-color;
                color: $hover-btn-txt-color;
            }

            .tooltip {
                width: 55%;
                height: 100px;
                color: #FF6B6B;
                font-size: 0.7rem;
                margin-top: 20px;
                font-style: italic;

                span {
                    font-weight: 700;
                }
            }
        }

        #bottom {
            background-image: url("../../assets/yellow-stripes.jpg");
            width: 100%;
            height: 109px;
            position: fixed;
            bottom: 100px;
        }
    }
}