#manage-inventory {
    @include grid-row();
    max-width: 100%;
    margin: 0 auto;
    text-align: center;

    h2 {
        @include grid-row();
        margin-top: 0px;
        font-family: $header-font;
    }

    #stand-summary {
        display: flex;
        justify-content: center;

        stand-summary {
            background-color: $secondary-bkgd-color;
            width: 10%;
            margin: 0 2%;
            border-radius: 5px;

            .title {
                font-weight: bold;
                font-family: $header-font;
            }
        }
    }

    #weather-summary {
        display: flex;
        justify-content: center;

        weather-summary {
            background-color: $tertiary-bkgd-color;
            width: 52%;
            border-radius: 5px;
            margin-top: 30px;

            p {
                color: $tertiary-highlight-txt-color;
            }

            span {
                font-weight: bold;
            }
        }
    }

    #inventory-summary {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        inventory-summary {
            background-color: $secondary-bkgd-color;
            width: 33%;
            margin: 0px 10px;
            border-radius: 5px;
            margin-top: 30px;

            section {
                padding: 15px 0px;

                h3 {
                    margin-top: 0px;
                    font-family: $header-font;
                }

                button {
                    background-color: $primary-btn-bkgd-color;
                    color: $btn-txt-color;
                }

                button:hover {
                    background-color: $hover-btn-bkgd-color;
                    color: $hover-btn-txt-color;
                }
            }   
        }
    }
}
